# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual envs
venv/
.env/
.env*/

# Editors/OS
.vscode/
.DS_Store

# Large artifacts (use Releases/LFS if needed)
*.mp4
*.pt
*.onnx
*.tflite
*.bin
venv/
runs/
yolo11n_ncnn_model/
*.pt
*.onnx
*.tflite
*.torchscript
*.bin
__pycache__/
*.pyc
.vscode/
.DS_Store

# ESP-IDF build outputs
esp32/build/
esp32/sdkconfig
esp32/sdkconfig.old
esp32/project_description.json

#broker ip
broker.py